* {
  user-select: none;
}
html {
  background-color:#F5EBDC ;
}
.App {
  background-color:#F5EBDC ;
}
.App-header{
  height: 17.5vh;
  position:fixed;
  top: 0;
  width: 86.1%;
  padding: 2vh 7vw 0vw 7vw;
  background: linear-gradient(180deg, rgba(245,235,220, 1) 30%, rgba(245,235,220,.975) 45%, rgba(245,235,220,.85) 70%, rgba(245,235,220,.75) 80%,rgba(255,255,255,0) 100%);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
}
.App-header * {
  margin: 0;
  padding: 0;
}
.App, a{
  color: #283044;
  margin: auto;
}
.contact {
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5em;
  margin: 1.25em .5em 0 0;
}
.icon{
  margin: 1em .4em;
  background-color: transparent;
}

.logo {
  height: 100%;
  text-decoration: none;
  font-weight: 600;
  color:#283044;
  text-align: center;
  font-size: 3em;
  letter-spacing: .5em;
}

main {
  text-align: center;
}
.main-section{
  margin-top: 100px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
}
.main-section div {
  overflow-x: hidden;
}
h2 {
  font-size: 3em;
  margin: 0;
}
h3 {
  font-size: 1.75em;
  font-weight: bold;
}
.scroll-container {
  display: inline-block;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  animation: move 10s infinite linear forwards;
}

.scroll-container h1 {
  font-size: 22.5em;
  margin: 0;
  padding-right: .25em;
  vertical-align: middle;
  line-height: 1;
  height: .6em;
  overflow-y: hidden;
  padding-bottom: .5em;
}

@keyframes move {
  to {
    transform: translateX(-50%);
  }
}
.grow:hover {
  animation: grow-bounce 0.5s ease forwards;
  cursor: pointer;
}

.grow:not(:hover) {
  animation: shrink-bounce 0.8s ease forwards;
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(0.85);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes grow-bounce {
  100% {
    transform: scale(1.3);
  }
}
.grid-container {
  padding: 0 2vw;
  display: grid;
  grid-template-columns: 20vw 30vw 30vw;
  grid-template-rows: 30vh 30vh 30vh 30vh;
  column-gap: 1vw;
  row-gap: 20vh;
  margin: 0 10vw;
}
.small-box, .big-box, .big-box-single {
  background-color: #303030;
  display: inline-block;
  border-radius: 30px;
  padding: 1em 1em 0 1em;
  color: white;
  overflow: hidden;
}
.big-box {
  width: 90%;
  padding-bottom: 31.25%;
  padding-top: 31.25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.big-box-single {
  width: 90%;
  padding-bottom: 31.25%;
  padding-top: 31.25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.small-box{
  width: 90%;
  padding-bottom: 90%;
}
.small-box img {
  width: 100%;
}
.small-box .icon {
  width: 10%;
}
.big-box .image1 {
  width: 63.5%;
}
.big-box .image2 {
  width: 34.5%;
}
.big-box-single .image1 {
  width: 100%;
}
.description-box {
  display: inline-block;
  text-align: left;
  margin-left: 4em;
}
.description-box * {
  user-select:text;

}
.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.description-box p b {
  font-weight: 600;
}
.description-box h4 {
  font-size: 1.5em;
}
.projects h3 {
  font-size: 3vh;
}
footer {
  width: 100%;
}